<p>post-form works!</p>
<form [formGroup]="postForm">

  <fieldset formGroupName="personalInfo">
    Username: <input type="text" formControlName="name" />
    Surname: <input type="text" formControlName="lastName" />
  </fieldset>
  Nickname: <input type="text" formControlName="nickname" />

  <fieldset formGroupName="postInfo">
    Post Title: <input type="text" formControlName="postTitle" />
    Post Text: <input type="text" formControlName="postText" />
  </fieldset>
  <button [disabled]="!postForm.valid" (click)="onSave()">Send</button>
</form>
