<p>posts works!</p>
<!-- En el trackby le digo cual es el id de cada item, y solo me renderizara el item que esté cambiando -->
<dl>
  <ng-container *ngFor="let post of posts$ | async">
    <fieldset>
      <dt>Nombre:</dt>
      <dd>{{ post.name }}</dd>
      <dt>Nickname:</dt>
      <dd>{{ post.nickname }}</dd>
    </fieldset>

  </ng-container>
</dl>

<button (click)="show = !show">Add New Post</button>
<button>Update Post</button>
<button>Delete Post</button>
<!-- <button (click)="show = !show">{{show ? 'hide' : 'show'}}</button>
show = {{show}} -->

<div *ngIf="show">Text to show</div>
<!--
"name": "Tris",
        "lastName": "Perez",
        "nickname": "CaiNa ma",
        "postTitle": "vaya airazo",
        "postText": "que friooooooo",
        "id": "5e0e078810a81f4110b7fa0d" -->
